<layout>
  <div class="right_col" role="main">
    <div class="container">
      <div class="col-md-12 col-sm-12 ">


        <div class="page-title">
          <div class="title_left" style="display: flex; justify-content: space-between;">
            <div class="d-flex" style="align-items: center;">
              <h3>Customer Satisfaction Survey</h3>
            </div>

            <div class="controls" style="display: flex;">
              <a (click)="Back()" class="nav-link">
                <i class="fas fa-arrow-left" style="color: #5ba146;" title="Back"></i>
              </a>
              <a class="nav-link" (click)="EditMode()" *ngIf="hasUpdateAccess && !isEditMode && !isNewMode">
                <i class="fas fa-pen" style="color: #5ba146;" title="Edit"></i>
              </a>

              <a class="nav-link" (click)="CancelEdit()" *ngIf="(isEditMode || isNewMode)">
                <i class="fas fa-times" style="color: #5ba146;" title="Cancel"></i>
              </a>

              <a class="nav-link" (click)="onSubmit()"
                *ngIf="(hasUpdateAccess || hasAddAccess) && (isEditMode || isNewMode)">
                <i class="fas fa-save" style="color: #5ba146;" title="Save"></i>
              </a>

              <a class="nav-link" (click)="DeleteRecord()" *ngIf="hasDeleteAccess && !isNewMode">
                <i class="fas fa-trash" style="color: #5ba146;" title="Delete"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="clearfix"></div>
        <hr />

        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-4 col-sm-4 mb-3">
              <label>Distributor</label>
              <select #distributorid (input)="getengineers($event.target.value)"
                [ngClass]="{'is-invalid':submitted && f.distId.errors }" class="form-select" formControlName="distId">
                <option *ngFor="let i of DistributorList" value="{{i.id}}">{{i.distName}}</option>
              </select>

              <div *ngIf="submitted && f.distId.errors" class="invalid-feedback">
                <div *ngIf="f.distId.errors.required">Distributor is required</div>
              </div>

            </div>

            <div class="col-md-4 col-sm-4 mb-3">
              <label>Engineer Name</label>

              <select formControlName="engineerId" (change)="getservicerequest(distId,$event.target.value)"
                placeholder="Engineer Name" class="form-select"
                [ngClass]="{'is-invalid':submitted && f.engineerId.errors }">
                <option *ngFor="let i of engineer" value="{{i.id}}">{{i["firstName"] + " " + i["lastName"]}}</option>
              </select>

              <div *ngIf="submitted && f.engineerId.errors" class="invalid-feedback">
                <div *ngIf="f.engineerId.errors.required">Engineer Name is required</div>
              </div>

            </div>


            <div class="col-md-4 col-sm-4 mb-3">
              <label for="name">Service Request No</label>
              <select name="" placeholder="Service Request Id" formControlName="serviceRequestId" id=""
                (change)="onServiceRequestChange()" class="form-select"
                [ngClass]="{'is-invalid':submitted && f.serviceRequestId.errors }">
                <option *ngFor="let i of servicerequest" value="{{i.id}}">{{i.serReqNo}}</option>
              </select>
              <div *ngIf="submitted && f.serviceRequestId.errors" class="invalid-feedback">
                <div *ngIf="f.serviceRequestId.errors.required">Service Request Id is required</div>
              </div>
            </div>


            <div class="col-md-12 col-sm-12 mb-3">
              <label>Name</label>
              <input type="text" disabled class="form-control" formControlName="name" id="">
            </div>

            <div class="col-md-12 col-sm-12 mb-3">
              <label>Email</label>
              <input type="text" disabled class="form-control" formControlName="email" id="">
            </div>

            <div class="col-md-12 col-sm-12">
              <p class="text-danger">Fields marked with <span class="text-danger">*</span> are mandatory.</p>
            </div>

            <div class="col-md-12 col-sm-12 mb-3">
              <label>
                1. Was your work request completed in a prompt and timely manner?<span
                  class="text-danger">*</span></label>
              <div class="form-check">
                <input class="form-check-input" formControlName="onTime" type="radio" value="1" id="onTime-true">
                <label class="form-check-label" for="onTime-true">Yes</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" formControlName="onTime" type="radio" value="2" id="onTime-false">
                <label class="form-check-label" for="onTime-false">No</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" formControlName="onTime" type="radio" value="3" id="onTime-na">
                <label class="form-check-label" for="onTime-na">NA</label>
              </div>
            </div>


            <div class="col-md-12 col-sm-12 mb-3">
              <label>
                2. Was the Avantgarde employee courteous and professional?<span class="text-danger">*</span></label>
              <div class="form-check">
                <input class="form-check-input" formControlName="isProfessional" type="radio" value="1"
                  id="isProfessional-true">
                <label class="form-check-label" for="isProfessional-true">Yes</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" formControlName="isProfessional" type="radio" value="2"
                  id="isProfessional-false">
                <label class="form-check-label" for="isProfessional-false">No</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" formControlName="isProfessional" type="radio" value="3"
                  id="isProfessional-na">
                <label class="form-check-label" for="isProfessional-na">NA</label>
              </div>
            </div>


            <div class="col-md-12 col-sm-12 mb-3">
              <label>
                3. Were you notified of any changes in the progress of the work (if applicable)?<span
                  class="text-danger">*</span></label>
              <div class="form-check">
                <input class="form-check-input" formControlName="isNotified" type="radio" value="1"
                  id="isNotified-true">
                <label class="form-check-label" for="isNotified-true">Yes</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" formControlName="isNotified" type="radio" value="2"
                  id="isNotified-false">
                <label class="form-check-label" for="isNotified-false">No</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" formControlName="isNotified" type="radio" value="3" id="isNotified-na">
                <label class="form-check-label" for="isNotified-na">NA</label>
              </div>
            </div>


            <div class="col-md-12 col-sm-12 mb-3">
              <label>
                4. Were you satisfied with the work done?<span class="text-danger">*</span></label>
              <div class="form-check">
                <input class="form-check-input" formControlName="isSatisfied" type="radio" value="1"
                  id="isSatisfied-true">
                <label class="form-check-label" for="isSatisfied-true">Yes</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" formControlName="isSatisfied" type="radio" value="2"
                  id="isSatisfied-false">
                <label class="form-check-label" for="isSatisfied-false">No</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" formControlName="isSatisfied" type="radio" value="3"
                  id="isSatisfied-na">
                <label class="form-check-label" for="isSatisfied-na">NA</label>
              </div>
            </div>

            <div class="col-md-12 col-sm-12 mb-3">
              <label>
                5. Was the work area cleaned up after completion of the job?<span class="text-danger">*</span></label>
              <div class="form-check">
                <input class="form-check-input" formControlName="isAreaClean" type="radio" value="1"
                  id="isAreaClean-true">
                <label class="form-check-label" for="isAreaClean-true">Yes</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" formControlName="isAreaClean" type="radio" value="2"
                  id="isAreaClean-false">
                <label class="form-check-label" for="isAreaClean-false">No</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" formControlName="isAreaClean" type="radio" value="3"
                  id="isAreaClean-na">
                <label class="form-check-label" for="isAreaClean-na">NA</label>
              </div>
            </div>


            <div class="col-md-12 col-sm-12 mb-3">
              <label>
                6. If you were not present when the work was done, did the engineer leave a note indicating that
                he/she had
                been there, describing what was done?<span class="text-danger">*</span></label>
              <div class="form-check">
                <input class="form-check-input" formControlName="isNote" type="radio" value="1" id="isNote-true">
                <label class="form-check-label" for="isNote-true">Yes</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" formControlName="isNote" type="radio" value="2" id="isNote-false">
                <label class="form-check-label" for="isNote-false">No</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" formControlName="isNote" type="radio" value="3" id="isNote-na">
                <label class="form-check-label" for="isNote-na">NA</label>
              </div>
            </div>

            <div class="col-md-12 col-sm-12 mb-3">
              <label>7. Is there anything you would change to improve our service? If so, please comment. </label>
              <textarea formControlName="comments" class="form-control"></textarea>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>

</layout>