<layout>
  <div class="right_col" role="main">
    <div class="container">
      <div class="page-title">
        <div class="title_left">

          <div class="d-flex" style="align-items: center; justify-content: space-between;">
            <h3>Service Request List</h3>
            <div class="d-flex">

              <a *ngIf="!showGrid && IsDistributorView" (click)="toggleFilter()" style="font-size: 1.25rem;" class="nav-link">
                <i class="fas fa-arrow-left" title="Grid"></i>
              </a>
              <a *ngIf="showGrid && IsDistributorView" (click)="toggleFilter()" style="font-size: 1.25rem;" class="nav-link">
                <i class="fas fa-search" title="Search"></i>
              </a>
              <a (click)="Add()" class="nav-link" style="font-size: 1.25rem;"
                *ngIf="hasAddAccess==true && IsEngineerView == false">
                <i class="fas fa-plus" style="color: #5ba146;" title="Add"></i>
              </a>
            </div>
          </div>

        </div>
      </div>
      <hr />

      <!-- <app-distributorfilter *ngIf="IsDistributorView" (nData)="getallrecored($event)" controller="ServiceRequest">
      </app-distributorfilter> -->

      <div class="clearfix"></div>

      <app-distributorfilter (showData)="ShowData($event)" (nData)="getallrecored($event)" controller="ServiceRequest"
        *ngIf="!showGrid && IsDistributorView">
      </app-distributorfilter>

      <div class="col-md-12 col-sm-12" *ngIf="showGrid">
        <ag-grid-angular style="width: 100%; height: 500px;" *ngIf="IsDistributorView==true && IsAdminView==false"
          class="ag-theme-alpine" (gridReady)="onGridReady($event)" [columnDefs]="columnDefs" [rowData]="srDistList"
          rowSelection="single" pagination="true" paginationPageSize=10></ag-grid-angular>

        <ag-grid-angular style="width: 100%; height: 600px;" *ngIf="IsCustomerView==true && IsAdminView==false"
          class="ag-theme-alpine" (gridReady)="onGridReady($event)" [columnDefs]="columnDefs" [rowData]="srCustList"
          rowSelection="single" pagination="true" paginationPageSize=10></ag-grid-angular>

        <ag-grid-angular style="width: 100%; height: 500px;" *ngIf="IsEngineerView==true && IsAdminView==false"
          class="ag-theme-alpine" (gridReady)="onGridReady($event)" [columnDefs]="columnDefs" [rowData]="srEngList"
          rowSelection="single" pagination="true" paginationPageSize=10></ag-grid-angular>

        <ag-grid-angular style="width: 100%; height: 500px;" *ngIf="IsAdminView==true" class="ag-theme-alpine"
          (gridReady)="onGridReady($event)" [columnDefs]="columnDefs" [rowData]="srAdminList" rowSelection="single"
          pagination="true" paginationPageSize=10></ag-grid-angular>
      </div>

    </div>
  </div>
</layout>