<layout>
  <div class="right_col" role="main">
    <div class="container">

      <div class="page-title">
        <div class="title_left" style="display: flex; justify-content: space-between;">
          <div class="d-flex" style="align-items: center;">
            <h3>Country Details</h3>
          </div>

          <div class="controls" style="display: flex;">
            <a (click)="Back()" class="nav-link">
              <i class="fas fa-arrow-left" style="color: #5ba146;" title="Back"></i>
            </a>
            <a class="nav-link" (click)="EditMode()" *ngIf="hasUpdateAccess && !isEditMode && !isNewMode">
              <i class="fas fa-pen" style="color: #5ba146;" title="Edit"></i>
            </a>

            <a class="nav-link" (click)="CancelEdit()" *ngIf="(isEditMode || isNewMode)">
              <i class="fas fa-times" style="color: #5ba146;" title="Cancel"></i>
            </a>

            <a class="nav-link" (click)="onSubmit()"
              *ngIf="(hasUpdateAccess || hasAddAccess) && (isEditMode || isNewMode)">
              <i class="fas fa-save" style="color: #5ba146;" title="Save"></i>
            </a>

            <a class="nav-link" (click)="DeleteRecord()" *ngIf="hasDeleteAccess && !isNewMode">
              <i class="fas fa-trash" style="color: #5ba146;" title="Delete"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>
      <hr />
      <div class="col-md-12 col-sm-12 ">
        <form [formGroup]="countryform" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <label for="iso_2">ISO Code 2<span class="text-danger">*</span></label>
              <input type="text" formControlName="iso_2" maxlength="2" class="form-control"
                [ngClass]="{ 'is-invalid': f.iso_2.touched && f.iso_2.errors }" />
              <div *ngIf="f.iso_2.touched && f.iso_2.errors" class="invalid-feedback">
                <div *ngIf="f.iso_2.errors.required">ISO Code 2 is required</div>
                <div *ngIf="f.iso_2.errors.pattern">ISO Code must contain characters only</div>
              </div>
            </div>

            <div class="col-sm-4">
              <label for="name">Country Name <span class="text-danger">*</span></label>
              <input type="text" formControlName="name" class="form-control"
                [ngClass]="{ 'is-invalid': f.name.touched && f.name.errors }" />
              <div *ngIf="f.name.touched && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Country Name is required</div>
                <div *ngIf="f.name.errors.pattern">Country Name must contain characters only</div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <label for="formal">Formal Name<span class="text-danger">*</span></label>
              <input type="text" formControlName="formal" class="form-control"
                [ngClass]="{ 'is-invalid': f.formal.touched && f.name.errors }" />
              <div *ngIf="f.formal.touched && f.formal.errors" class="invalid-feedback">
                <div *ngIf="f.formal.errors.required">Formal Name is required</div>
                <div *ngIf="f.formal.errors.pattern">Formal Name must contain characters only</div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <label for="sub_Region">Sub Region<span class="text-danger">*</span></label>
              <input type="text" formControlName="sub_Region" class="form-control"
                [ngClass]="{ 'is-invalid': f.sub_Region.touched && f.sub_Region.errors }" />
              <div *ngIf="f.sub_Region.touched && f.sub_Region.errors" class="invalid-feedback">
                <div *ngIf="f.sub_Region.errors.required">Sub Region is required</div>
                <div *ngIf="f.sub_Region.errors.pattern">Sub Region must contain characters only</div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <label for="region">Region<span class="text-danger">*</span></label>
              <input type="text" disabled formControlName="region" class="form-control"
                [ngClass]="{ 'is-invalid': f.region.touched && f.region.errors }" />
              <div *ngIf="f.region.touched && f.region.errors" class="invalid-feedback">
                <div *ngIf="f.region.errors.required">Region is required</div>
                <div *ngIf="f.region.errors.pattern">Region must contain characters only</div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <label for="continentId">Continent<span class="text-danger">*</span></label>
              <select formControlName="continentId" class="form-select"
                [ngClass]="{ 'is-invalid': f.continentId.touched && f.continentId.errors }">
                <option *ngFor="let continent of continents" value={{continent.listTypeItemId}}>
                  {{continent.itemName}}
                </option>
              </select>
              <div *ngIf=" f.continentId.touched && f.continentId.errors" class="invalid-feedback">
                <div *ngIf="f.continentId.errors.required">Continent is required</div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <label for="capital">Capital<span class="text-danger">*</span></label>
              <input type="text" formControlName="capital" class="form-control"
                [ngClass]="{ 'is-invalid': f.capital.touched && f.name.errors }" />
              <div *ngIf="f.capital.touched && f.capital.errors" class="invalid-feedback">
                <div *ngIf="f.capital.errors.required">Capital is required</div>
                <div *ngIf="f.capital.errors.pattern">Capital must contain characters only</div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <label for="currencyId">Currency<span class="text-danger">*</span></label>
              <select formControlName="currencyId" class="form-select"
                [ngClass]="{ 'is-invalid': f.currencyId.touched && f.currencyId.errors }">
                <option *ngFor="let c of currency" value={{c.id}}>
                  {{c.name}}
                </option>
              </select>
              <div *ngIf="f.currencyId.touched && f.currencyId.errors" class="invalid-feedback">
                <div *ngIf="f.currencyId.errors.required">Currency is required</div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</layout>