<div class="page-content">
    <div class="row">
        <div class="col-12 col-sm-6">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="mb-4" [@enterAnimation]>
                    <label for="region" class="form-label">Region</label>
                    <select id="region" formControlName="region" (change)="onRegionChange()"
                        class="form-select form-select-lg mb-3 text-uppercase">
                        <option *ngFor="let item of regionsList" [value]="item.id">{{item.distRegName}}</option>
                    </select>
                </div>
                <div class="mb-4" [@enterAnimation] *ngIf="stage>=2">
                    <label for="country" class="form-label">Country</label>
                    <select formControlName="country" (change)="countryChange()" id="country"
                        class="form-select form-select-lg mb-3 text-uppercase">
                        <option *ngFor="let item of regionCountryList" [value]="item.id">{{item.name}}</option>
                    </select>
                </div>
                <div class="mb-4" [@enterAnimation] *ngIf="stage>=3">
                    <label for="customer" class="form-label">Customer</label>
                    <select id="customer" formControlName="customer" (change)="onCustomerChange()"
                        class="form-select form-select-lg mb-3 text-uppercase">
                        <option *ngFor="let item of customerBCountryList" [value]="item.id">{{item.custName}}
                        </option>
                    </select>
                </div>
                <div class="mb-4" [@enterAnimation] *ngIf="hasSite && stage>=4">
                    <label for="site" class="form-label">Site</label>
                    <select id="site" formControlName="site" (change)="SiteChange()"
                        class="form-select form-select-lg mb-3 text-uppercase">
                        <option *ngFor="let item of siteList" [value]="item.id">{{item.custRegName}}</option>
                    </select>
                </div>
                <div class="mb-5" [@enterAnimation] *ngIf="hasInstrument && stage>=5">
                    <label for="instrument" class="form-label">Instrument</label>
                    <select id="instrument" formControlName="insSerialNo" (change)="InstrumentChange()"
                        class="form-select form-select-lg mb-3 text-uppercase">
                        <option *ngFor="let item of siteBInstrumentList" [value]="item.id">
                            {{item.instypeName + ' - ' + item.serialNos}}
                        </option>
                    </select>
                </div>
                <div class="d-grid gap-2" [@enterAnimation]>
                    <button type="submit" class="text-uppercase btn-cim btn-lg">
                        Search
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>