<layout>
  <div class="right_col" role="main">
    <div class="container">

      <div class="page-title">
        <div class="title_left" style="display: flex; justify-content: space-between;">
          <div class="d-flex" style="align-items: center;">
            <h3>Currency Details </h3>
          </div>

          <div class="controls" style="display: flex;">
            <a (click)="Back()" class="nav-link">
              <i class="fas fa-arrow-left" style="color: #5ba146;" title="Back"></i>
            </a>
            <a class="nav-link" (click)="EditMode()" *ngIf="hasUpdateAccess && !isEditMode && !isNewMode">
              <i class="fas fa-pen" style="color: #5ba146;" title="Edit"></i>
            </a>

            <a class="nav-link" (click)="CancelEdit()" *ngIf="(isEditMode || isNewMode)">
              <i class="fas fa-times" style="color: #5ba146;" title="Cancel"></i>
            </a>

            <a class="nav-link" (click)="onSubmit()"
              *ngIf="(hasUpdateAccess || hasAddAccess) && (isEditMode || isNewMode)">
              <i class="fas fa-save" style="color: #5ba146;" title="Save"></i>
            </a>

            <a class="nav-link" (click)="DeleteRecord()" *ngIf="hasDeleteAccess && !isNewMode">
              <i class="fas fa-trash" style="color: #5ba146;" title="Delete"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>
      <hr />

      <div class="col-md-12 col-sm-12 ">
        <form [formGroup]="currencyform" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-sm-4">
              <label for="code">Code<span class="text-danger">*</span></label>
              <input type="text" formControlName="code" maxlength="10" class="form-control"
                [ngClass]="{ 'is-invalid': f.code.touched && f.code.errors }" />
              <div *ngIf="f.code.touched && f.code.errors" class="invalid-feedback">
                <div *ngIf="f.code.errors.required">Code is required</div>
                <div *ngIf="f.code.errors?.maxlength">Max length is 10</div>
                <div *ngIf="f.code.errors?.pattern">Code should contain characters only</div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <label for="name">Currency Name<span class="text-danger">*</span></label>
              <input type="text" formControlName="name" class="form-control"
                [ngClass]="{ 'is-invalid': f.name.touched && f.name.errors }" />
              <div *ngIf="f.name.touched && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Currency Name is required</div>
                <div *ngIf="f.name.errors?.pattern">Currency Name should contain characters only</div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <label for="minor_Unit">Minor Unit<span class="text-danger">*</span></label>
              <input type="number" formControlName="minor_Unit" maxLength="5" class="form-control"
                [ngClass]="{ 'is-invalid': f.minor_Unit.touched && f.minor_Unit.errors }" />
              <div *ngIf="f.minor_Unit.touched && f.minor_Unit.errors" class="invalid-feedback">
                <div *ngIf="f.minor_Unit.errors.required">Minor Unit is required</div>
                <div *ngIf="f.minor_Unit.errors.max">Max length is 5</div>
                <div *ngIf="f.minor_Unit.errors.pattern">Minor Unit should contain characters only</div>
              </div>
            </div>

            <div class="col-md-4 col-sm-4">
              <label for="n_Code">Numeric Code</label>
              <input type="number" formControlName="n_Code" class="form-control"
                [ngClass]="{ 'is-invalid': f.n_Code.touched && f.n_Code.errors }" />
              <div *ngIf="f.n_Code.touched && f.n_Code.errors" class="invalid-feedback">
                <div *ngIf="f.n_Code.errors.max">Max length is 5</div>
              </div>
            </div>

            <div class="col-md-4 col-sm-4">
              <label for="symbol">Symbol</label>
              <input type="text" formControlName="symbol" class="form-control" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</layout>