<layout>
  <div class="right_col" role="main">
    <div class="container">

      <div class="page-title">
        <div class="title_left" style="display: flex; justify-content: space-between;">
          <div class="d-flex" style="align-items: center;">
            <h3>Spare Parts</h3>
          </div>

          <div class="controls" style="display: flex;">
            <a (click)="Back()" class="nav-link">
              <i class="fas fa-arrow-left" style="color: #5ba146;" title="Back"></i>
            </a>
            <a class="nav-link" (click)="EditMode()" *ngIf="hasUpdateAccess && !isEditMode && !isNewMode">
              <i class="fas fa-pen" style="color: #5ba146;" title="Edit"></i>
            </a>

            <a class="nav-link" (click)="CancelEdit()" *ngIf="isEditMode || isNewMode">
              <i class="fas fa-times" style="color: #5ba146;" title="Cancel"></i>
            </a>

            <a class="nav-link" (click)="onSubmit()"
              *ngIf="(hasUpdateAccess || hasAddAccess) && (isEditMode || isNewMode)">
              <i class="fas fa-save" style="color: #5ba146;" title="Save"></i>
            </a>

            <a class="nav-link" (click)="DeleteRecord()" *ngIf="hasDeleteAccess && !isNewMode">
              <i class="fas fa-trash" style="color: #5ba146;" title="Delete"></i>
            </a>
          </div>
        </div>
      </div>

      <hr />
      <div class="clearfix"></div>

      <div class="col-md-12 col-sm-12 ">
        <form [formGroup]="sparepartform" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-sm-4">
              <label for="configTypeId">Config Type<span class="text-danger">*</span></label>
              <select formControlName="configTypeId" #configType class="form-select"
                (change)="onConfigChange(configType.value)"
                [ngClass]="{ 'is-invalid': f.configTypeId.touched && f.configTypeId.errors }">
                <!--<option value="0">--All--</option>-->
                <option *ngFor="let congfig of listTypeItems" value={{congfig.listTypeItemId}}>
                  {{congfig.itemName}}
                </option>
              </select>
              <div *ngIf="f.configTypeId.touched && f.configTypeId.errors" class="invalid-feedback">
                <div *ngIf="f.configTypeId.errors.required">Config Type is required</div>
              </div>
            </div>
            <!-- <div class="col-md-4 col-sm-4">
              <label for="configValueId">Config Value</label>
              <select formControlName="configValueId" class="form-select" #configvalue
                (change)="onConfigVChange(configType.value,configvalue.value)">
                <option *ngFor="let c of configValueList" value={{c.id}}>
                  {{c.configValue}}
                </option>
              </select>
            </div> -->
            <div class="col-md-3 col-sm-3">
              <label for="partNo">Part Number<span class="text-danger">*</span></label>
              <input type="text" #partNo formControlName="partNo" class="form-control"
                [ngClass]="{ 'is-invalid': f.partNo.touched && f.partNo.errors }" />
              <div *ngIf="f.partNo.touched && f.partNo.errors" class="invalid-feedback">
                <div *ngIf="f.partNo.errors.required">Part Number is required</div>
              </div>
            </div>
            <div class="col-md-1 col-sm-1">
              <label for=""></label>
              <button type="button" class="btn btn-primary mt-4" [disabled]="!isEditMode && !isNewMode"
                (click)="getSpareByNo(partNo.value,configType.value)">Get</button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <label for="itemDesc">Item Description<span class="text-danger">*</span></label>
              <input type="text" formControlName="itemDesc" class="form-control"
                [ngClass]="{ 'is-invalid': f.itemDesc.touched && f.itemDesc.errors }" />
              <div *ngIf="f.itemDesc.touched && f.itemDesc.errors" class="invalid-feedback">
                <div *ngIf="f.itemDesc.errors.required">Item Description is required</div>
              </div>
            </div>
            <div class="col-sm-4" style="display: none;">
              <label for="qty">Qty<span class="text-danger">*</span></label>
              <input type="number" min="0" value="1" formControlName="qty" class="form-control"
                [ngClass]="{ 'is-invalid': f.qty.touched && f.qty.errors }" />
              <div *ngIf="f.qty.touched && f.qty.errors" class="invalid-feedback">
                <div *ngIf="f.qty.errors.required">Qty is required</div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <label for="partType">Part Type<span class="text-danger">*</span></label>
              <!--<input type="text" formControlName="partType" class="form-control" [ngClass]="{ 'is-invalid': f.custid.touched && f.partType.errors }" />-->
              <select formControlName="partType" class="form-select"
                [ngClass]="{ 'is-invalid': f.partType.touched && f.partType.errors }">
                <option *ngFor="let congfig of parttypes" value={{congfig.listTypeItemId}}>
                  {{congfig.itemName}}
                </option>
              </select>
              <div *ngIf="f.partType.touched && f.partType.errors" class="invalid-feedback">
                <div *ngIf="f.partType.errors.required">Part Type is required</div>
              </div>
            </div>


          </div>
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <label for="descCatalogue">Desc per Catalogue<span class="text-danger">*</span></label>
              <input type="text" formControlName="descCatalogue" class="form-control"
                [ngClass]="{ 'is-invalid': f.descCatalogue.touched && f.descCatalogue.errors }" />
              <div *ngIf="f.descCatalogue.touched && f.descCatalogue.errors" class="invalid-feedback">
                <div *ngIf="f.descCatalogue.errors.required">Desc per Catalogue is required</div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <label for="hsCode">HSN Code<span class="text-danger">*</span></label>
              <input type="text" formControlName="hsCode" class="form-control"
                [ngClass]="{ 'is-invalid': f.hsCode.touched && f.hsCode.errors }" />
              <div *ngIf="f.hsCode.touched && f.hsCode.errors" class="invalid-feedback">
                <div *ngIf="f.hsCode.errors.required">HSN Code is required</div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <label for="countryId">Country of Origin<span class="text-danger">*</span></label>
              <select formControlName="countryId" class="form-select"
                [ngClass]="{ 'is-invalid': f.countryId.touched && f.countryId.errors }">
                <!--<option value="0">--All--</option>-->
                <option *ngFor="let country of countries" value={{country.id}}>
                  {{country.name}}
                </option>
              </select>
              <div *ngIf="f.countryId.touched && f.countryId.errors" class="invalid-feedback">
                <div *ngIf="f.countryId.errors.required">Country of Origin is required</div>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <label for="price">List Price<span class="text-danger">*</span></label>
                  <input type="number" min="0" formControlName="price" class="form-control"
                    [ngClass]="{ 'is-invalid': f.price.touched && f.price.errors }" />
                  <div *ngIf="f.price.touched && f.price.errors" class="invalid-feedback">
                    <div *ngIf="f.price.errors.required">List Price is required</div>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <label for=""></label>
                  <div class="checkbox">
                    <label for="isObselete">
                      <input type="checkbox" formControlName="isObselete" class="" />
                      Is Obselete
                    </label>
                  </div>
                </div>

                <div class="col-md-6 col-sm-6" *ngIf="chkIsObsolete">
                  <label for="replacepPartNoId">Replacement Part</label>
                  <select formControlName="replacepPartNoId" class="form-select"
                    [ngClass]="{ 'is-invalid': f.replacepPartNoId.touched && f.replacepPartNoId.errors }">
                    <option value="0"></option>
                    <option *ngFor="let congfig of replacementParts" value={{congfig.id}}>
                      {{congfig.partNo}}
                    </option>
                  </select>
                  <!--<input type="text" formControlName="replacepPartNoId" class="form-control" [ngClass]="{ 'is-invalid': f.custid.touched && f.replacepPartNoId.errors }" />-->
                  <div *ngIf="f.replacepPartNoId.touched && f.replacepPartNoId.errors" class="invalid-feedback">
                    <div *ngIf="f.replacepPartNoId.errors.required">Replacement Part is required</div>
                  </div>
                </div>

                <div class="col-md-6 col-sm-6">
                  <label for="currencyId">Currency<span class="text-danger">*</span></label>
                  <select formControlName="currencyId" class="form-select"
                    [ngClass]="{ 'is-invalid': f.currencyId.touched && f.currencyId.errors }">
                    <!--<option value="0">--All--</option>-->
                    <option *ngFor="let c of currency" value={{c.id}}>
                      {{c.name}}
                    </option>
                  </select>
                  <div *ngIf="f.currencyId.touched && f.currencyId.errors" class="invalid-feedback">
                    <div *ngIf="f.currencyId.errors.required">Currency is required</div>
                  </div>
                </div>

                <div class="col-md-4 col-sm-4">
                  <label for="image" style="margin-right:15px;margin-top:15px;">Image</label>
                  <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput
                    (change)="uploadFile(fileInput.files,id)" />
                  <div *ngIf="f.image.touched && f.image.errors" class="invalid-feedback">
                    <div *ngIf="f.image.errors.required">Image is required</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 sparePartImg d-flex justify-content-center"
              *ngIf=" imageUrl && imageUrl !==''">
              <img [src]=" imageUrl" style="width: 200px;height: 200px; padding:10px;">
            </div>
          </div>
          <hr />
        </form>
      </div>
    </div>
  </div>
</layout>