<layout [isNewSetUp]="isNewSetUp" [showNavs]="!isNewSetUp">
  <div class="right_col" role="main">
    <div class="container">
      <!-- Tabs navs -->
      <ul class="nav nav-tabs mb-3" id="ex1" role="tablist" *ngIf="!isNewSetUp">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="ex1-tab-1" data-mdb-toggle="tab" routerLink="/distributor"
            routerLinkActive="active" role="tab" aria-controls="ex1-tabs-1" aria-selected="true">Distributor</a>
        </li>
        <!-- <li class="nav-item" role="presentation">
          <a class="nav-link" [ngClass]="{ 'disabled': distributorId==null }" id="ex1-tab-2" data-mdb-toggle="tab"
            routerLink="/contactlist/{{ type }}/{{ distributorId }}" routerLinkActive="active" role="tab"
            aria-controls="ex1-tabs-2" aria-selected="false">Contact</a>
        </li> -->
        <li class="nav-item" role="presentation">
          <a class="nav-link" [ngClass]="{ 'disabled': distributorId==null }" id="ex1-tab-3" data-mdb-toggle="tab"
            routerLink="/distregionlist/{{ distributorId }}" routerLinkActive="active" role="tab"
            aria-controls="ex1-tabs-3" aria-selected="false">Distributor Region</a>
        </li>
      </ul>

      <div class="page-title">
        <div class="title_left" style="display: flex; justify-content: space-between;">
          <div class="d-flex" style="align-items: center;">
            <h3>Distributor</h3>
          </div>

          <div class="controls" style="display: flex;">
            <a (click)="Back()" *ngIf="!isNewSetUp" class="nav-link">
              <i class="fas fa-arrow-left" style="color: #5ba146;" title="Back"></i>
            </a>
            <a class="nav-link" (click)="EditMode()" *ngIf="hasUpdateAccess && !isEditMode && !isNewMode">
              <i class="fas fa-pen" style="color: #5ba146;" title="Edit"></i>
            </a>

            <a class="nav-link" (click)="CancelEdit()" *ngIf="(isEditMode || isNewMode) && !isNewSetUp">
              <i class="fas fa-times" style="color: #5ba146;" title="Cancel"></i>
            </a>

            <a class="nav-link" (click)="onSubmit()"
              *ngIf="(hasUpdateAccess || hasAddAccess) && (isEditMode || isNewMode)">
              <i class="fas fa-save" style="color: #5ba146;" title="Save"></i>
            </a>

            <a class="nav-link" (click)="DeleteRecord()" *ngIf="hasDeleteAccess && !isNewMode && !isNewSetUp">
              <i class="fas fa-trash" style="color: #5ba146;" title="Delete"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>
      <hr />

      <div class="col-md-12 col-sm-12">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-sm-6" *ngIf="distributorId != null">
              <label for="distName">Distributor Code</label>
              <input type="text" formControlName="code" disabled class="form-control" />
            </div>
            <div class="col-sm-6">
              <label for="distName">Distributor Name<span class="text-danger">*</span></label>
              <input type="text" formControlName="distName" class="form-control"
                [ngClass]="{ 'is-invalid': f.distName.touched && f.distName.errors }" />
              <div *ngIf="f.distName.touched && f.distName.errors" class="invalid-feedback">
                <div *ngIf="f.distName.errors.required">Distributor Name is required</div>
                <div *ngIf="f.distName.errors.pattern">Distributor Name should contain characters only</div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <label for="payterms">Payment Term<span class="text-danger">*</span></label>
              <select type="text" formControlName="payterms" class="form-select"
                [ngClass]="{ 'is-invalid': f.payterms.touched && f.payterms.errors }">
                <option *ngFor="let i of PaymentTermsList;" [value]="i.listTypeItemId">{{i.itemName}}</option>
              </select>
              <div *ngIf="f.payterms.touched && f.payterms.errors" class="invalid-feedback">
                <div *ngIf="f.payterms.errors.required">Payment Term is required</div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <label for="regions">Manufacturers</label>
              <ng-multiselect-dropdown [settings]="dropdownSettings" [data]="manfList" id="manfs"
                formControlName="manufacturerIds">
              </ng-multiselect-dropdown>
              <div *ngIf="f.manufacturerIds.touched && f.manufacturerIds.errors" class="invalid-feedback">
                <div *ngIf="f.manufacturerIds.errors.required">Manufacturer is required</div>
              </div>
            </div>
          
            <div class="col-md-6 col-sm-6" *ngIf="isManfSubs">
              <label for="payterms">Manufacturer's BU<span class="text-danger">*</span></label>
              <select type="text" formControlName="manfBusinessUnitId" class="form-select"
                [ngClass]="{ 'is-invalid': f.manfBusinessUnitId.touched && f.manfBusinessUnitId.errors }">
                <option *ngFor="let i of manfBUList;" [value]="i.id">{{i.businessUnitName}}</option>
              </select>
              <div *ngIf="f.manfBusinessUnitId.touched && f.manfBusinessUnitId.errors" class="invalid-feedback">
                <div *ngIf="f.manfBusinessUnitId.errors.required">Payment Term is required</div>
              </div>
            </div>
          </div>
          <!-- <div class="row"
            *ngIf="hasAddAccess==true && hasUpdateAccess==true && hasDeleteAccess==true && hasReadAccess==true">
            <div class="col-md-6 col-sm-6">
              <label for=""></label>
              <div class="checkbox">
                <label for="isBlocked">
                  <input type="checkbox" formControlName="isBlocked" class="" />
                  Block Distributer Account
                </label>
              </div>
            </div>
          </div> -->

          <div class="page-title">
            <div class="title_left">
              <h3 style="padding:15px 0 5px 0">Address</h3>
            </div>
          </div>
          <div class="clearfix"></div>
          <hr />

          <div class="row">
            <div class="col-sm-4">
              <label for="street">Street<span class="text-danger">*</span></label>
              <input type="text" formControlName="street" class="form-control"
                [ngClass]="{ 'is-invalid':f.street.touched && f.street.errors }" />
              <div *ngIf="f.street.touched && f.street.errors" class="invalid-feedback">
                <div *ngIf="f.street.errors.required">Street is required</div>
              </div>
            </div>
            <!-- <div class="col-sm-4">
                <label for="area">Area<span class="text-danger">*</span></label>
                <input type="text" formControlName="area" class="form-control"
                  [ngClass]="{ 'is-invalid': f.aref.touched && f.aref.errors }" />
                <div *ngIf="f.aref.touched && f.aref.errors" class="invalid-feedback">
                  <div *ngIf="f.aref.errors.required">Area is required</div>
                </div>
              </div> -->
            <div class="col-sm-4">
              <label for="city">City<span class="text-danger">*</span></label>
              <input type="text" formControlName="city" class="form-control"
                [ngClass]="{ 'is-invalid': f.city.touched && f.city.errors }" />
              <div *ngIf="f.city.touched && f.city.errors" class="invalid-feedback">
                <div *ngIf="f.city.errors.required">City is required</div>
              </div>
            </div>
            <div class="col-sm-4">
              <label for="place">State<span class="text-danger">*</span></label>
              <input type="text" formControlName="place" class="form-control"
                [ngClass]="{ 'is-invalid': f.place.touched && f.place.errors }" />
              <div *ngIf="f.place.touched && f.place.errors" class="invalid-feedback">
                <div *ngIf="f.place.errors.required">State is required</div>
              </div>
            </div>
            <div class="col-sm-4">
              <label for="addrCountryId">Country<span class="text-danger">*</span></label>
              <select formControlName="addrCountryId" class="form-select"
                [ngClass]="{ 'is-invalid': f.addrCountryId.touched && f.addrCountryId.errors }">
                <!--<option value="0">--All--</option>-->
                <option *ngFor="let country of countries" value={{country.id}}>
                  {{country.iso_3}} - {{country.name}}
                </option>
              </select>
              <div *ngIf="f.addrCountryId.touched && f.addrCountryId.errors" class="invalid-feedback">
                <div *ngIf="f.addrCountryId.errors.required">Country is required</div>
              </div>
            </div>
            <div class="col-sm-4">
              <label for="zip">Zip <span class="text-danger">*</span></label>
              <input type="text" maxlength="10" formControlName="zip" class="form-control"
                [ngClass]="{ 'is-invalid': f.zip.touched && f.zip.errors }" />

              <div *ngIf="f.zip.touched && f.zip.errors" class="invalid-feedback">
                <div *ngIf="f.zip.errors.required">Zip is required</div>
                <div *ngIf="f.zip.errors?.minlength">Min length is 4</div>
                <div *ngIf="f.zip.errors?.maxlength">Max length is 15</div>
                <div *ngIf="f.zip.errors?.pattern">Invalid Pin Code.</div>
              </div>
            </div>

            <div class="col-sm-4">
              <label for="geoLat">Latitude</label>
              <input type="number" formControlName="geoLat" class="form-control" value="0"
                [ngClass]="{ 'is-invalid': f.geoLat.touched && f.geoLat.errors }" />
              <div *ngIf="f.geoLat.touched && f.geoLat.errors" class="invalid-feedback">
                <div *ngIf="f.geoLat.errors.required">Latitude is required</div>
                <div *ngIf="f.geoLat.errors.max || f.geoLat.errors.min">Invalid Latitude</div>
              </div>
            </div>
            <div class="col-sm-4">
              <label for="geoLong">Longitude</label>
              <input type="number" formControlName="geoLong" class="form-control" value="0"
                [ngClass]="{ 'is-invalid': f.geoLong.touched && f.geoLong.errors }" />
              <div *ngIf="f.geoLong.touched && f.geoLong.errors" class="invalid-feedback">
                <div *ngIf="f.geoLong.errors.required">Longitude is required</div>
                <div *ngIf="f.geoLong.errors.max || f.geoLong.errors.min">Invalid Longitude</div>
              </div>
            </div>
          </div>
          <hr />
        </form>
      </div>
    </div>
  </div>
</layout>