<layout>
  <div class="page-content">
    <div class="d-flex justify-content-end mb-3">
      <div class="btn-group btn-group-sm customBtnGroup">
        <button bsDaterangepicker (bsValueChange)="dateRange($event)" class="btn mx-3">
          <i class="fas fs-5 fa-calendar"></i>
        </button>

        <a (click)="CalenderChange(90)" #3MNTHS class="btn btn-secondary btn-cim-secondary">3
          Months</a>
        <a (click)="CalenderChange(180)" #6MNTHS class="btn btn-secondary btn-cim-secondary ms-2">6
          Months</a>
        <a (click)="CalenderChange(365)" #12MNTHS class="btn btn-secondary btn-cim-secondary ms-2">12
          Months</a>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
      <div class="col">
        <div class="card shadow border-0 dashboard-card">
          <div class="card-body p-0">
            <div class="d-flex align-items-center p-3 my-2" style="height:102px !important">
              <div class="widgets-icons">
                <i class="bi bi-person-circle"></i>
              </div>
              <div>
                <p class="mb-0">Client Name</p>
                <h4 class="my-1">{{customerName}}</h4>
              </div>
            </div>
            <div class="d-flex align-items-center px-3 py-2 bottomLabel">
              <span class="">&nbsp;</span>
            </div>

          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow border-0 dashboard-card">
          <div class="card-body p-0">
            <div class="d-flex align-items-center p-3 my-2" style="height:102px !important">
              <div class="widgets-icons">
                <i class="bi bi-gear-fill"></i>
              </div>
              <div>
                <p class="mb-0">Sites</p>
                <h4 class="my-1">{{siteName}}</h4>
              </div>
            </div>
            <div class="d-flex align-items-center px-3 py-2 bottomLabel">
              <span class="">{{siteRegion}}</span><span>Site Region</span>
            </div>
          </div>
          <div class="controls" *ngIf="isSiteContact">
            <button (click)="next()"
              style="position: absolute;top: 49%;left: 85%;width: fit-content;height: fit-content;padding:1px 4px; margin: 0;border: none;color: #5ba146;font-size: 1.2rem;background-color: transparent">
              <i class="fas fa-chevron-circle-right"></i>

            </button>
            <button (click)="prev()"
              style="position: absolute;top: 49%;right: 85%;width: fit-content;height: fit-content;padding:1px 4px; margin: 0;border: none;color: #5ba146;font-size: 1.2rem;background-color: transparent">
              <i class="fas fa-chevron-circle-left"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow border-0 dashboard-card">
          <div class="card-body p-0">
            <div class="d-flex align-items-center p-3 my-2" style="height:102px !important">
              <div class="widgets-icons">
                <i class="bi bi-person-circle"></i>
              </div>
              <div>
                <p class="mb-0">Instruments</p>
                <h4 class="my-1">{{instruemntLength}}</h4>
              </div>
              <div class="mt-1" style="overflow-y: auto;height: 65px;font-size: 12px;width: 11rem;">
                <ul style="margin: 0; list-style: none;">
                  <li *ngFor="let item of lstInstrument" style="color: #0a58ca;" class="link">
                    <span style="font-size: 16px;border-radius: 50%;margin-left: -20px;" title="Cost Of Ownership">
                      <a class="link" (click)="OnPopUpOpen(item.id)">$</a>
                    </span>
                    <a [title]="item.insTypeName + '-' +item.serialNos" (click)="criticalServiceRequest(item.instrumentId)">
                      {{item.insTypeName}} - {{item.serialNos}}
                    </a>
                  </li>
                </ul>
              </div>

            </div>
            <div class="d-flex align-items-center px-3 py-2 bottomLabel">
              <span class="noDash">&nbsp;</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow border-0 dashboard-card">
          <div class="card-body p-0">
            <div class="d-flex align-items-center p-3 my-2" style="height:102px !important">
              <div class="widgets-icons">
                <i class="bi bi-geo-alt-fill"></i>
              </div>
              <div>
                <p class="mb-0">Service Provider</p>
                <h4 class="my-1">{{custDefDistName}}</h4>
              </div>
            </div>
            <div class="d-flex align-items-center px-3 py-2 bottomLabel">
              <span class="">{{defDistCountryName}}</span><span>Country</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12 col-md-4">
        <div class="card shadow border-0 dashboard-card">
          <div class="card-body" id="poChartsContainer">
            <h5 class="text-center py-3">Cost</h5>
            <canvas id="poCharts" style="width:100%;max-width:700px"></canvas>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="card shadow border-0 dashboard-card">
          <div class="card-body" id="compSerReqContainer">
            <h5 class="text-center py-3">Completed Service Request</h5>
            <canvas id="compSerReq" style="width:100%;max-width:600px"></canvas>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="card shadow border-0 dashboard-card">
          <div class="card-body" id="pendingSerReqContainer">
            <h5 class="text-center py-3">Pending Service Request</h5>
            <canvas id="pendingSerReq" style="width:100%;max-width:600px"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12 col-md-4">
        <div class="card shadow border-0 dashboard-card" style="min-height: 265px;">
          <div class="card-body p-0">
            <h5 class="text-center py-3">Instruments Down</h5>
            <div class="px-3">
              <table class="table table-borderless customTable m-0">
                <thead>
                  <tr>
                    <th>SR#</th>
                    <th>Instrument</th>
                    <th>Engineer</th>
                  </tr>
                </thead>
                <tbody>
                  <tr [ngClass]="{'showHideRows-Instruments d-none':i > 2}" *ngFor="let x of srList;let i = index">
                    <td>{{x.serReqNo}}</td>
                    <td>{{x.machinesModelName}}</td>
                    <td>{{x.assignedToName}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="text-center"><i class="bi bi-arrow-down-circle-fill downArrow"
                id="showHideRows-Instruments"></i></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="card shadow border-0 dashboard-card" style="min-height: 265px;">
          <div class="card-body p-0">
            <h5 class="text-center py-3">Purchase Order</h5>
            <div class="px-3">
              <table class="table table-borderless customTable m-0">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>PO Number</th>
                    <th>Amount</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr [ngClass]="{'showHideRows-PO d-none':i > 3}" *ngFor="let item of amcData;let i = index">
                    <td><a [routerLink]="'/offerrequest/'+item.id">{{item.poDate}}</a></td>
                    <td>{{item.offReqNo}}</td>
                    <td>{{item.totalAmt}}</td>
                    <td>{{item.stageName}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="text-center"><i class="bi bi-arrow-down-circle-fill downArrow" id="showHideRows-PO"></i></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="card shadow border-0 dashboard-card" style="min-height: 265px;">
          <div class="card-body p-0">
            <h5 class="text-center py-3">Spare Recommended</h5>
            <div class="px-3 py-4">
              <div [ngClass]="{'showHideRows-spare d-none':i > 1}" class="badge-spare"
                *ngFor="let x of spRecomList;let i = index">
                <h6>{{x.partNo}}({{x.qtyRecommended}})</h6>
                <p>{{x.defaultDistributor}}: {{x.assignedToFName}}</p>
              </div>
            </div>
            <div class="text-center"><i class="bi bi-arrow-down-circle-fill downArrow" id="showHideRows-spare"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</layout>

<style>
  canvas {
    height: 185px !important;
  }

  ::-webkit-scrollbar {
    width: 7px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;

  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #338b19;
    border-radius: 10px;

  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #276b12;
  }
</style>