<layout *ngIf="!isDialog">
    <div class="right_col" role="main">
        <div class="container">

            <div class="page-title">
                <div class="title_left" style="display: flex; justify-content: space-between; align-items: end;">
                    <div class="d-flex" style="align-items: center;">
                        <div [ngClass]="{'mt-3':formData?.hasBrand}">
                            <div *ngIf="formData?.hasBrand"
                                class="alert alert-primary d-flex align-items-center justify-content-between"
                                role="alert" style="width: 50vw;">
                                You cannot edit this record as Brands are dependent on this Business Unit
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                            </div>
                            <h3>Business Unit</h3>
                        </div>
                    </div>


                    <div class="controls" style="display: flex;">
                        <a (click)="Back()" class="nav-link">
                            <i class="fas fa-arrow-left" style="color: #5ba146;" title="Back"></i>
                        </a>
                        <a class="nav-link" (click)="EditMode()"
                            *ngIf="!isEditMode && !isNewMode && !formData?.hasBrand">
                            <i class="fas fa-pen" style="color: #5ba146;" title="Edit"></i>
                        </a>

                        <a class="nav-link" (click)="CancelEdit()" *ngIf="(isEditMode || isNewMode)">
                            <i class="fas fa-times" style="color: #5ba146;" title="Cancel"></i>
                        </a>

                        <a class="nav-link" (click)="onSubmit()" *ngIf="(isEditMode || isNewMode)">
                            <i class="fas fa-save" style="color: #5ba146;" title="Save"></i>
                        </a>

                        <a class="nav-link" (click)="DeleteRecord()" *ngIf="(id != null) && hasDeleteAccess">
                            <i class="fas fa-trash" style="color: #5ba146;" title="Delete"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <hr />
            <div class="col-md-12 col-sm-12">
                <form [formGroup]="Form" (ngSubmit)="onSubmit()">
                    <div class="row">                      
                        <div class="col-md-6">
                            <label>Business Unit</label>
                            <input formControlName="businessUnitName" class="form-control"
                                [ngClass]="{ 'is-invalid': f.businessUnitName.touched  && f.businessUnitName.errors }" />

                            <div *ngIf=" f.businessUnitName.touched && f.businessUnitName.errors"
                                class="invalid-feedback">
                                <div *ngIf="f.businessUnitName.errors.required">Business Unit is required</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</layout>

<div class="modal" style="display: block" id="modal" role="dialog" *ngIf="isDialog">
    <div class="modal-dialog" style="width: 95vw;height: 50vh;">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #53a446 !important; color: #fff">
                <h4 class="modal-title" id="modal-basic-title">Create Business Unit</h4>
            </div>

            <div class="modal-body" style="height: 250px;">
                <div class="py-3 px-3-pb-3">
                    <div class="container">
                        <form [formGroup]="Form" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Business Unit</label>
                                    <input formControlName="businessUnitName" class="form-control"
                                        [ngClass]="{ 'is-invalid': f.businessUnitName.touched  && f.businessUnitName.errors }" />

                                    <div *ngIf=" f.businessUnitName.touched && f.businessUnitName.errors"
                                        class="invalid-feedback">
                                        <div *ngIf="f.businessUnitName.errors.required">Business Unit is required</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <button class="btn btn-primary" type="submit"
                                        style="background-color: #53a446;border: #53a446;">Next</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>