<div class="modal" style="display: block" id="modal" role="dialog">
  <div class="modal-dialog" style="width: 95vw">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #53a446; color: #fff">
        <h4 class="modal-title" id="modal-basic-title">Forgot Password</h4>
        <button type="button" class="close btn" aria-label="Close" data-dismiss="modal" (click)="close()">
          <i class="fas fa-fw fa fa-times"> </i>
        </button>
      </div>

      <div class="modal-body">
        <div class="py-3 px-3-pb-3">
          <div class="container">
            <form [formGroup]="Form" (ngSubmit)="onValueSubmit()">

              <div class="modal-body">
                <div class="row">

                  <div class="col-sm-12">
                    <label for="email">Your Email</label>
                    <input type="email" id="email" formControlName="email" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />

                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                      <div *ngIf="f.email.errors.required">Email is required</div>
                    </div>
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-md-6 col-sm-6" style="margin-left: 16px;">
                  <button [disabled]="loading" class="btn btn-primary"
                    style="background-color: #53a446;border: #53a446;">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Submit
                  </button>
                </div>
              </div>

            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>